body {
    margin: 0;
    overflow: hidden;             
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;               
    background: #f0f0f0;
}

#canvas-container {
    position: relative; 
    display: inline-block;          
}

canvas {
    border: 15px solid #aca6a6;      
}

button {
    position: absolute;           
    bottom: 21px;                 
    right: 16px;                  
    padding: 4px 10px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}